body{
  font-family: "slabo 27px";
  font-style: normal;
  font-size: 24px;
  background: #00ffff;
  color: #111100;
  text-align: left;
}

}
@media only screen and (max-width: 600px) {

body{
   background-color: #ffffff;
  }
}
